<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88932444641-9i7qh4khd2di3ogpjk3ntuk81p0sgfmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88932444641-9i7qh4khd2di3ogpjk3ntuk81p0sgfmr</string>
	<key>API_KEY</key>
	<string>AIzaSyBn_DL0_xubsbt_IGwggozVQmNtGex5m90</string>
	<key>GCM_SENDER_ID</key>
	<string>88932444641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.mh-6.webview_test</string>
	<key>PROJECT_ID</key>
	<string>webview_test</string>
	<key>STORAGE_BUCKET</key>
	<string>webview_test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88932444641:ios:0cc34a00d04286544f4aa0</string>
</dict>
</plist>